* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

body {
    width: 100%;
}

.player, #restart, #cases div {
    border: 1px black solid;
}

section {
    padding: 2rem;
}

main, #display, section div, #cases div {
    display: flex;
}

#display {
    flex-direction: column;
    flex-basis: 40%;
    justify-content: space-evenly;
}

#info {
    flex-direction: row;
    color: white;
}

#info div:first-child {
    background-color: red;
}

#info div:last-child {
    background-color: dodgerblue;
}

#game {
    flex-basis: 60%;
    position: relative;
    border: 1px orangered dashed;
}

.player {
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.player span {
    padding: .5rem;
}

.point {
    font-size: 2rem;
}

#cases {
    flex-wrap: wrap;
    border: 1px black dashed;
    cursor: url("playerX.png"), auto;
}

#cases div {
    flex-basis: 30%;
    height: 28vh;
    font-size: 17vh;
    justify-content: center;
    align-items: center;
}

#result {
    position: absolute;
    top : 0;
    left: 0;
    width: 90%;
    height: 100%;
    border: 1px red solid;
    display: none;
    justify-content: center;
    align-items: center;
}

#result div {
    background-color: #ffffff80;
    padding: 1rem;
    width: 100%;
    justify-content: center;
}

#result p {
    padding: 0 1rem;
    font-size: 2rem;
    color: white;
}

#XoO {
    font-size: 4rem;
}

#restart {
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 25vh;
    align-self: center;
    border-radius: 25%;
}

@media screen and (max-width: 850px){
    main {
        flex-direction: column;
    }

    section {
        padding: .5rem;
    }


    #display {
        flex-direction: row;
    }

    .player {
        height: 13vh;
        flex-direction: row;
    }

    #info {
        flex-direction: column;
    }

    #restart {
        width: 30%;
    }

}

@media screen and (max-width: 450px) {

    html {
        font-size: 1rem;
    }

    #cases div {
        height: 20vh;
    }
}
