* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    text-align: center;
}

body {
    width: 100%;
}

.player, #start, #game div {
    border: 1px black solid;
}

section {
    padding: 2rem;
}

#container, #display, section div, #game {
    display: flex;
}

#display {
    flex-direction: column;
    flex-basis: 40%;
    justify-content: space-around;
}

#display > div {
    flex-direction: row;
}

.player {
    flex-basis: 50%;
    height: 25vh;
    flex-direction: column;
    justify-content: space-around;
}

#game {
    flex-basis: 60%;
    flex-wrap: wrap;
}

#game div {
    flex-basis: 30%;
    height: 30vh;
    font-size: 10vh;
}

#result {
    position: absolute;
    top : 0;
    right: 5%;
    width: 55%;
    height: 100vh;
    border: 1px red solid;
    display: none;
    justify-content: center;
    align-items: center;
}

#start {
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 25vh;
    align-self: center;
    border-radius: 25%;
}

@media screen and (max-width: 600px) {

    #container {
        flex-direction: column;
    }

    .player {
        height: 13vh;
    }

    section {
        padding: 0;
    }

    #game {
        justify-content: center;
    }

    #start {
        margin: 1rem;
    }

}